body>h1 {
    text-align: center;
}

#content {
    position: absolute;
    width: 40%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#foodList {
    display: flex;
    flex-direction: column;
}

.listItem {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: center;
    background-color: transparent;
    transition: background-color 0.7s ease;
    border-radius: 5px;
}

.listItem:hover {
    background-color: lightgray;
    transition: background-color 0.7s ease;
}

.listItem>p {
    width: 100%;
    float: left;
}

.listItem>button {
    border-radius: 7px;
    border-color: transparent;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.listItem>button:hover {
    background-color: rgb(191, 191, 191);
    transition: background-color 0.3s ease;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
}

#form>input {
    font-size: 20;
    height: 1.5em;
    width: 50%;
    border-radius: 10px;
    outline: none;
    border-color: transparent;
    background-color: rgb(221, 221, 221);
    transition: background-color 0.4s ease;
}

#form>input:hover {
    background-color: rgb(211, 211, 211);
    transition: background-color 0.4s ease;
}

#form>input:focus {
    background-color: rgb(191, 191, 191);
    border-color: transparent;
    outline: none;
}

#form>button {
    height: 2em;
    margin-top: 2%;
    width: 35%;
    border-radius: 10px;
    border: none;
    background-color: rgb(221, 221, 221);
    transition: background-color 0.3s ease;
}

#form>button:hover {
    background-color: rgb(211, 211, 211);
    transition: background-color 0.3s ease;
}

#form>button:active {
    outline: none;
    background-color: rgb(191, 191, 191);
}

#form>button:focus {
    outline: none;
}