body>h1 {
    text-align: center;
}

#content {
    position: absolute;
    width: 40%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#foodList {
    display: flex;
    flex-direction: column;
}

.listItem {
    background-color: rgb(240, 240, 240);
    transition: background-color 0.7s ease;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.listItem:hover {
    background-color: lightgray;
    transition: background-color 0.7s ease;
}

.listItemHeader {
    width: 100%;
    display: grid;
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 5px;
    grid-template-columns: 1fr auto;
    transition: background-color 0.5s ease;
}

.listItemHeader:hover {
    background-color: rgb(191, 191, 191);
}

.listItemHeader:focus {
    outline: none;
}

.listItemHeader>p {
    width: 100%;
    text-align: left;
}

.listItemHeader:active {
    background-color: rgb(211, 211, 211);
}

.arrow {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    height: 1.5rem;
    transition: transform 0.5s ease;
}

.rotated90 {
    transform: rotate(90deg);
    transition: transform 0.5s ease;
}

.pathColored {
    fill: rgb(100, 100, 100);
}

.listItemContent {
    max-height: 300px;
    overflow: visible;
    padding: 0.5rem;
    transition: max-height 0.5s ease, padding 0.5s;
}

.listItemContent>button {
    visibility: visible;
    transition: visibility 0s 0.2s;
}

.collapsed {
    max-height: 0px;
    overflow: hidden;
    padding: 0;
    transition: max-height 0.5s ease, padding 0.5s;
}

.collapsed>button {
    visibility: hidden;
}

.Labels {
    margin-bottom: 2%;
}

.removeBtn {
    height: 2rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 25px;
    border-color: transparent;
    background-color: rgb(201, 201, 201);
    transition: background-color 0.3s ease;
}

.removeBtn:hover {
    background-color: rgb(191, 191, 191);
    transition: background-color 0.3s ease;
}

.removeBtn:active {
    background-color: rgb(211, 211, 211);
}

.removeBtn:focus {
    outline: none;
}

.saveChanges {
    height: 2rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 25px;
    border-color: transparent;
    background-color: rgb(201, 201, 201);
    margin-bottom: .5rem;
    transition: background-color 0.3s ease;
}

.saveChanges:hover {
    background-color: rgb(191, 191, 191);
    transition: background-color 0.3s ease;
}

.saveChanges:active {
    background-color: rgb(211, 211, 211);
}

.saveChanges:focus {
    outline: none;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
}

#form>input {
    font-size: 20;
    height: 1.5em;
    width: 50%;
    border-radius: 10px;
    outline: none;
    border-color: transparent;
    background-color: rgb(221, 221, 221);
    transition: background-color 0.4s ease;
}

#form>input:hover {
    background-color: rgb(211, 211, 211);
    transition: background-color 0.4s ease;
}

#form>input:focus {
    background-color: rgb(191, 191, 191);
    border-color: transparent;
    outline: none;
}

#form>button {
    height: 2em;
    margin-top: 2%;
    width: 35%;
    border-radius: 10px;
    border: none;
    background-color: rgb(221, 221, 221);
    transition: background-color 0.3s ease;
}

#form>button:hover {
    background-color: rgb(211, 211, 211);
    transition: background-color 0.3s ease;
}

#form>button:active {
    outline: none;
    background-color: rgb(191, 191, 191);
}

#form>button:focus {
    outline: none;
}

@media screen and (max-device-width: 480px) {
    #form>button {
        width: 65%;
    }

    #form>input {
        width: 80%;
    }

    #content {
        width: 80%;
    }
}